@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root{
  --blue : #1320DC;
  --text-gray : #77798C;
  --pink : #FB0A72;
}

html {
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1320DC;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(19, 32, 220, 0.8);
}

body {
  font-size: 1.6rem !important;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif !important;
}
.head{
 padding: 1.5rem;
 margin: 1rem 10rem 0 10rem;
}

.head-top{
 margin-bottom: 2rem;
 display: flex;
 justify-content: space-between;
 height: 60px;
 align-items: center;
}
.logo{
  display: flex;
  align-items: center;
}
.logo img{
  height: 30px;

}
.research-buttom{
 display: flex;
 align-items: center;
 background-color: #f1f1f1;
 border-radius: 0.5rem;
 justify-content: space-between;
 height: 35px;
 width: 300px;
}
.research{
  margin-left: 1rem;
  color: #77798C;
}
.search-buttom{
  width: 15px;
  height: 15px;
  margin-right: 1.5rem;
}
.search-buttom img{
  width: 100%;
}
.logo{
  display: flex;
 justify-content: center;
}
.head-top-right{
  display: flex;
  align-items: center;
}
.language{
 border: none;
 margin-left: 1.2rem;
 font-size: 16px;
}
.cash{
  border: none;
  margin-left: 1.2rem;
  font-size: 16px;
}
.connect{
  border: 1px solid blue;
  border-radius: 0.5rem;
  margin-left: 1.2rem;
  height: 35px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inscription{
  border: 1px solid blue;
  background-color: blue;
  border-radius: 0.5rem;
  margin-left: 1.2rem;
  height: 35px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.head-bottum{
  border-top: 1px solid #f1f1f1;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  justify-content: center;
}
a{
  text-decoration: none;
  margin-left: 1rem;
}
.category{
  justify-content: center;
  color: #77798C;
}
.body{
  height: 930px;
}
.body-top{
  height:100vh;
  background-image: url(../icones/Groupe-45.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.body-top-left {
  width: 500px;
  height: 50%;
  color: white;
  margin-left: 10rem;
}
.body-top-left *{
  margin-bottom: 2rem;
}
.subtitle{
  font-size: 16px;
  }
  .buy-buttom{
    width: 200px;
    height: 40px;
    background-color: #FB0A72;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.body-top-right{
  width: 100px;
  height: 500px;
  display: flex;
  justify-content: end;
}
.basket{
  width: 70px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  background-color:#1320DC ;
}
.basket-basket {
  position: absolute;
  width: 20px;
  height: 20px; 
  align-self: center;
}
.basket-basket svg{
  color: #f1f1f1;
}
.basket-chiffre{
  position: absolute;
  background-color: #FB0A72;
  width: 20px; 
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10rem;
 margin-left: 3rem;
 margin-bottom: 1.5rem;
}
.basket-chiffre p{
  color: white;
  font-size: 11px;
}
.body-bottum{
 margin-left: 10rem;
 margin-right: 10rem;
 display: flex;
 justify-content: space-between;
}
.box{
  border: 1px solid #77798C;
  height: 200px;
  width: 32%;
  border-radius: 0.5rem;
  /*transition: ease-in-out .3s;*/
}
.box1{
  background-image: url(../images/xbanner-02.jpg.pagespeed.ic.MQuZq6F18q.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #1320DC;
  font-weight: bold;
  padding-top: 3rem;
  padding-left: 2rem;
}
.box2{
  background-image: url(../images/xbanner-01.jpg.pagespeed.ic.Uj5FE94mgU.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #1320DC;
  font-weight: bold;
  padding-top: 3rem;
  padding-left: 2rem;
}
.box3{
  background-image: url(../images/xbanner-03.jpg.pagespeed.ic.1rqLomOaMb.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #1320DC;
  font-weight: bold;
  padding-top: 3rem;
  padding-left: 2rem;
}
.footer{
  height: 500px;
  margin-top: 5rem;
}
.footer-part1{
  display: flex;
}
.footer-part1-left{
  width: 20%;
  margin-left: 1rem;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
}
.arrivals{
  color: #1320DC;
  font-family: calibri;
  font-size: 20px;
  border-bottom: 1px solid #f1f1f1;
  padding: 1rem;
  margin-right: 1rem;
}
.sales{
  color: #77798C;
  font-size: 18px;
  border-bottom: 1px solid #f1f1f1;
  padding: 1rem;
  margin-right: 1rem;
}
.footer-part1-right{
  width: 80%;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.items{
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  flex-wrap: wrap;
}
.items *{
  margin-bottom: 1rem;
}
.items-box{
  
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  height: 370px;
  width: 24%;
  border-radius: 0.5rem;
  background-color: white;
  display: flex;
 flex-direction: column;
}
.jupe{
  height: 200px;
  width: 200px;
  background-image: url(../images/jupe.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.items-footer{
  margin-left: 1.5rem;
}
.items-name{
 margin-top: 2rem;
 font-weight: bold;
 font-size: 20px;
}
.prices-units{
  display: flex;
}
.prices{
  font-weight: bold;
}
.units{
  color:#77798C ;
  margin-left: 0.5rem;
}
.buttom-more{
  height: 45px;
  margin-right: 1.5rem;
  display: flex;
  margin-top: 2rem;
}
.buttom{
  height: 100%;
  width: 80%;
  background-color: #1320DC;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.more{
  border: 1px solid blue;
  height: 100%;
  width: 20%;
  border-radius: 0.5rem;
  color: #1320DC;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.buttom-see{
  border: 3px solid #1320DC ;
  height: 50px;
  width: 120px;
  border-radius: 0.5rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1320DC;
  font-size: 18px;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.footer-part2{
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright{
  font-size: 18px;
  color: #77798C;
}
.copyright-lmc{
  color: #1320DC;
  font-size: 20px;
}